body {
  text-align: center;
  background: linear-gradient(to right, red, yellow);
}

h1,
h2,
h3 {
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: #1b1b19;
}

h1 {
  font-size: 36px;
}

.container {
  margin-top: 200px;
}

h3 {
  font-size: 16px;
}
